
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center;
    }
}
footer{
  background: #143774;
  color:white;
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
    text-decoration: underline;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.page-left{
  width: 72%;
}

/* left part of the page */
.page-left img{
  width:100%;
  max-height: 250px;
  object-fit: cover;
}




.article-title{
  color: #143774;
  font-family: Lora;
  line-height: 0;
  padding-bottom: 5px;
}
.article-body{
  color:#707070;
}
.article-read-more{
  color:#1792D2;
  text-decoration: none;
  font-weight: 700;
}
.article-read-more:hover{
  color:#143774;
  text-decoration: underline;
}

.article-comments{
  margin-top: 2em 0;
}

/* article recent */
.article-recent{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
 }

.photo-comment{
  width:24%;
}
.photo-comment img{
  object-fit: cover;
  width: 100%;
  min-height:150px;
}

.title-content-page{

  width:72%;
}

@media (max-width: 675px){
  .article-recent{
    flex-direction: column;
    }
  .photo-comment{
    width:100%;
    height:50%;
  }
  /* .photo-comment img{
    height: 10%;
  } */
  .title-content-page{
    width:100%;
  }
}

/* right part of the page */
.page-right{
  width:24%;
}

.right-card-title{
  font-family: Ubuntu;
  font-weight: bold;
  color:#143774;
  font-size: 18px;
}
.right-card-title a{
  text-decoration: none;
  color:#143774;
}
.right-card{
  border: 20px solid #f8f8f8;
  margin-top: 1.4rem;
  padding: 1rem;
  }

.right-card img{
  width:100%;
}
.right-card-body{
  font: normal normal 300 14px/24px Ubuntu;
}
.right-card-post-title{
  font: normal normal normal 18px/28px Lora;
  color: #143774;
}

.card-post-widget{
  border-bottom: 1px solid #707070;
  margin-bottom: 1em;
}

.card-post-widget:last-child{
  border:0;
  margin:0;
}

/* about me full page */
#about-me-main h2{
  color: #143774;
  font-family:  Lora;
}
#about-me-main p{
  color:#707070;
}

@media (max-width: 675px){
  .page{
    flex-direction: column;
  }
  .page-right{
    width:100%;
    }

  .page-left{
    width:100%;
  }
}
